/* General Styles 

red --> #b21919

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-align: left;
  color: #222222;
}

a, a:visited {
  color: #b21919;
  text-decoration: none;
}

a:hover {
  color: #b21919;
  text-decoration: none;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


/* Header */

header {
  width: 100%;
  height: 100px;
  margin: auto;
  padding: 30px 0 40px 0;
  background: #ffffff;
}

#inner-wrapper {
  width: 940px;
  margin: 0 auto;
}

#title {
  width: 50%;
  padding-top: 34px;
  float: left;
  padding-left: 20px;
}

#title:hover h2{
  color: #b21919;
}

#logo{
  padding-top: 20px;
  width: 72px;
  height: 72px;
  float: left;
}

h1 {
  width: 50px;
  background: #b21919;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  display: inline-block;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 49px;
  color: #222222;
  display: inline-block;
}

#nav {
  float: right;
  font-family: 'PT Sans', sans-serif;
}

#nav ul {
  list-style-type: none;
}

 #nav ul li {
   font-size: 14px;
   font-weight: normal;
   line-height: 123px;
   float: left;
   padding-left: 17px;
 }

  #nav ul li.active a {
    color: #222222;
    font-weight: bold;
  }


/* Content */

#grid{
  width: 940px;
  background: #ffffff;
  margin: 40px auto 0;
  border-top: 4px solid #b21919;
  padding-top: 30px;
}

#content{
  width: 940px;
  margin: 40px auto 0;
  padding: 50px;

}

.project{
  width: 220px;
  height: 220px;
  background: #cccccc;
  color:#ffffff;
  text-align: center;
  line-height: 220px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.project img {
  position: absolute;
  height: 100%;
  left: 50%;
  margin-left: -165px;

}

.project:hover {
  background: #eeeeee;
  color: #aaaaaa;
}

.last{
  margin: 0;
}

.clearfix {
  clear: both;
  height: 200px; 
}



